{% extends 'base.html.twig' %}
{% block header %}
    {{  include('_header.html.twig', {'categories': categories}) }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="{{ path("homepage") }}">Home</a></li>
                <li class="active">{{ entry.getCategory.getName }}</li>
            </ol>
            <h3>{{ entry.getCategory.getName }}</h3>
            {% for entry in entriesCategories %}
                <div class="col-lg-3 col-sm-4 col-xss-6 col-xs-12">
                    <h3>{{ entry.getTitle }}</h3>
                    <p><strong>Categoria: {{ entry.getCategory.getName }}</strong></p>
                    <p><strong>{{ entry.getName }} - {{ entry.getFecha | date }}</strong></p>
                    <p>{{ entry.getContent | slice(0, 255)}}...</p>
                    <p>
                        <a href="{{ path("showDetail", {'show':entry.getId,'slug':entry.getslug}) }}">Ver mas</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}