{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li>{{ category }}</li>
            </ol>
            {% for entry in entries %}
                <div class="col-lg-3 col-sm-4 col-xss-6 col-xs-12">
                    <h3>{{ entry.getTitle }}</h3>
                    <p><strong>Categoria: {{ entry.getCategory.getName }}</strong></p>
                    <p><strong>{{ entry.getName }} - {{ entry.getFecha | date }}</strong></p>
                    <p>{{ entry.getContent | slice(0, 255)}}...</p>
                    <p>
                        <a href="{{ path("showDetail", {'show':entry.getId,'slug':entry.getslug}) }}">Ver mas</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
