{% extends ':admin:base_admin.html.twig' %}

{% block body %}
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h2>Editar entrada</h2>
            {{ form_start(form, {'action':'', 'method':'POST'}) }}
                <div class="form-group">
                    {{ form_errors(form.title) }}
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.content) }}
                    {{ form_label(form.content) }}
                    {{ form_widget(form.content) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.name) }}
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.fecha) }}
                    {{ form_label(form.fecha) }}
                    {{ form_widget(form.fecha) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.category) }}
                    {{ form_label(form.category) }}
                    {{ form_widget(form.category) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.slug) }}
                    {{ form_label(form.slug) }}
                    {{ form_widget(form.slug) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.save) }}
                </div>
            {{ form_end(form) }}
        </div>
{% endblock %}