{% extends ':admin:base_admin.html.twig' %}

{% block body %}
    <div class="col-lg-6 col-sm-6 col-xss-12 col-xs-12">
        <p class="menu_create">
            <a href="{{ path('createEntries') }}">Crear Entrada</a>
        </p>
        <h2>Entradas</h2>
    </div>

    {% for entry in entries %}
        <div class="col-lg-3 col-sm-4 col-xss-6 col-xs-12">
            <h3>{{ entry.getTitle }}</h3>
            <p><strong>Categoria: {{ entry.getCategory.getName }}</strong></p>
            <p><strong>{{ entry.getName }} - {{ entry.getFecha | date }}</strong></p>
            <p>{{ entry.getContent | slice(0, 255)}}...</p>
            <p>
                <a href="{{ path("adminEditEntry", {'id':entry.getId}) }}">Editar</a>
                <a href="{{ path("adminDelEntry", {'id':entry.getId}) }}">Borrar</a>
            </p>
        </div>
    {% endfor %}
{% endblock %}